@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@500&family=Poppins:ital,wght@1,600&family=Raleway:wght@100&family=Righteous&family=Stint+Ultra+Condensed&family=Ubuntu:wght@300;700&display=swap');
font-family: 'Poppins', sans-serif;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
